.ftpignore
.ftpconfig
.vscode

# Byte-compiled / optimized / DLL files
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.swp

/datasets
/.m0-cache
/.m0-results
/.m0-staging
/.m3-results
/notebooks
